body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: white;
}

p {
    display: none;
    background-color: #D4D4CE;
    color: black;
    border: none;
    border-radius: 4px;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: auto;
    height: auto;
    box-shadow: 2px 5px 4px #888888;
}

.images {
    display: block;
    width: 100%;
}
  
.images.image-bundle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 10px;
}
.images.image-bundle img {
    width: 46%;
    border: 1px solid black;
}

.centered-text-box {
    display: block;
    text-align: center;
    color: black;
    margin: 0 auto;
    padding-top: 30px;
    font: arial;
}

.centered-text-box.big {
    font-size: 48px;
}

.aligned-text-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.aligned-text-box div {
    max-width: 46%;
    text-align: left
}

.topnav {
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: center;
}

.topnav a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: white;
    color: black;
}
  
.topnav a.active {
    background-color: rgb(10, 10, 11);
    color: white;
}
