body{
    background-color: #DDDDDD;
}

ul{
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style-type: none;
}

button{
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    transition: transform 0.7s ease-in-out;
}

button:active{
    transform: rotate(360deg);
}

#logo_header{
    border-radius: 5px;
    color: #2C5E80;
    border: 3px solid #000000;
}

.title{
    background-color: #2C5E80;
    margin: 0px;
    text-align: center;
    color: white;
}

.event-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 2fr 1fr 1fr;
    justify-content: center;
    grid-template-areas: 
    "header header header header"
    "image image image organisation"
    "image image image organisation"
    "link link favorite date";
    height: 400px;
    width: 600px;
    margin: 20px auto;
    margin-top:20px;
    border: 3px solid black;
    box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
    background-color:white;
}

.favorite-image{
    width: 50%;
    height: 50%;
}

.event-image{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.event-item{
    border: 3px solid black;
    text-align: center;
}

.event-item-title{
    grid-area: header;
}

.event-item-image{
    grid-area: image;
}

.event-item-favorite{
    grid-area: favorite;
}

.event-item-link{
    grid-area: link;
}

.event-item-organisation{
    grid-area: organisation;
}

.event-item-date{
    grid-area: date;
}